
th,tr,td{border: solid black 3px;width: 40px;height: 35px;text-align: center;background-color: rgb(43, 226, 217); }
.button {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
  }
  .salmon{ width: 100%;}
  img{    width: 30%;
    height: 100px;
    border: solid black 1px;}
    iframe{width: 15%;
    
    }
     body{background-color: rgb(225, 246, 247);
   }
    li {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: coral;


    }

    h3{
font-family: cursive;

color: crimson;


    }

    fieldset{

background-color: rgb(192, 205, 229);
;


    }